html {
    background: transparent url('../img/ksiazka2.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#textarea {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -400px;
    width: 800px;
    resize: none;

    overflow-y: scroll;
    background-color: white;
    color:#666;
    font-size:14px;
    -moz-border-radius: 8px; -webkit-border-radius: 8px;
    border:#999 1px solid;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding:10px;

    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    box-shadow: 0 0 5px rgba(81, 203, 238, 0);
    -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
    -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
}


#textarea:focus{
    color:#000;
    outline:none;
    border:#35a5e5 4px solid;

    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    box-shadow: 0 0 4px rgba(81, 203, 238, 1);
    -webkit-box-shadow: 0 0 4px rgba(81, 203, 238, 1);
    -moz-box-shadow: 0 0 4px rgba(81, 203, 238, 1);
}

.menu {
    position: fixed;
    top: 46px;
    width:100px;
    height:100%;
    right: -10%;
    background-color: white;
    color: #5cb85c;
    z-index: 10;
}

#navigation {
    border-left:1px solid #999;
    width:145px;
}

ul
{
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
}

li {
    margin-bottom: 50px;
    width: 100px;
    text-align: center;
}

li:hover {
    cursor: pointer;
    background-color: grey;
}

a {
    color: #5cb85c;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#navigation a  {
  display:block;
  height:47px;
  text-indent:-9000px;
}


div.dziubek {
    width:20px;
    height:25px;
    position: fixed;
    background-size: cover;
    background-image: url('../img/dziubek.png');
    display: none;
}

div.translatearea {
    background-color: white;
    position: fixed;
    border-style: solid;
    border-width: 0.08em;
    border-color: #35a5e5;
    padding: 20px 10px 10px 10px;
    display: none;
}

div.jjenglish {
    width:125px;
    height:125px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    background-size: cover;
    background-image: url('../img/logojjenglish.png');
}

div.jjenglish:hover {
    cursor: pointer;
}

.resultsTable {
    display: inline-block;
    margin-right: 30px;
    margin-left:30px;
}

.glyphicon-remove {
    float:right;
    margin-right:-3px;
    margin-top:-16px;
    color: #35a5e5;
    cursor: pointer;
}

div.translatedWord {
    background-color: #white;
    border-radius: 5px;
    margin:5px;
    padding: 5px;
    color: black;
}